body {
  font-family: "proxima-nova", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
}

#navbar {
  margin-top: 0px;
  background-image: url("/images/background.jpg");
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar-I {
  display: flex;
  justify-content: space-between;
}
.logo-container {
  display: flex;
  gap: 20px;
}

.new-post-button {
  background-color: rgb(27, 183, 110);
  display: flex;
  justify-items: center;
  gap: 10px;
  width: 100px;
  text-align: center;
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-size: 15px;
}

.auth-container {
  display: flex;
  justify-content: flex-end;
}

.auth-container > * {
  cursor: pointer;
  /* border: 2px solid white; */
  width: 90px;
  text-align: center;
  padding: 7px 12px;
  border-radius: 5px;
  font-weight: 700;
  color: white;
  font-size: 15px;
}
.go-ad-free-button {
  background-color: rgb(100, 50, 249);
}
.sign-in-button {
  background-color: transparent;
}

.sign-up-button {
  background-color: rgb(27, 183, 110);
}

.navbar-body {
  width: 90%;
  margin: auto;

}
.navbar-body h2:nth-child(1) {
  color: rgb(174, 216, 234);
  text-align: center;
}
.navbar-body div:nth-child(2) {
  color: rgb(146, 145, 167);
  display: flex;
  justify-content: space-between;
}

.navbar-tags {
  display: flex;
  overflow-x: scroll;
  flex-wrap: nowrap;
  flex: none;
  gap: 15px;
}
.navbar-tags::-webkit-scrollbar{
  display: none;
}
.tag-I {
  position: relative;
  width: 220px;
  height: 130px;
  background-image: url("/images/miniatures.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  border-radius: 5px;
  flex-shrink: 0;
}

.tag {
  position: relative;
  width: 107px;
  height: 130px;
  border-radius: 5px;
  flex-shrink: 0;
  background-size: cover;
}

.tag-content {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  text-align: center;
  gap: 10px;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: baseline;
  justify-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgb(184, 94, 68);
  position: absolute;
  bottom: 0px;
}

.tag-content h5 {
  font-weight: 700;
  color: white;
  margin: 0px;
}
.tag-content h6 {
  margin: 0px;
  font-size: 12px;
  color: rgba(187, 178, 175, 0.83);
}

.navbar-tags div:nth-child(2) {
  background-image: url("/images/movies.jpg");
}

.navbar-tags div:nth-child(2) .tag-content {
  background-color: rgb(145, 202, 224);
}
.navbar-tags div:nth-child(3) {
  background-image: url("/images/funny.jpg");
}

.navbar-tags div:nth-child(3) .tag-content {
  background-color: rgb(99, 56, 117);
}

.navbar-tags div:nth-child(4) {
  background-image: url("/images/dog.jpg");
}

.navbar-tags div:nth-child(4) .tag-content {
  background-color: rgb(0, 130, 97);
}

.navbar-tags div:nth-child(5) {
  background-image: url("/images/gaming.jpg");
}

.navbar-tags div:nth-child(5) .tag-content {
  background-color: rgb(43, 26, 90);
}

.navbar-tags div:nth-child(6) {
  background-image: url("/images/staffpicks.jpg");
}

.navbar-tags div:nth-child(6) .tag-content {
  background-color: rgb(19, 45, 49);
}
.navbar-tags div:nth-child(7) {
  background-image: url("/images/otters.jpg");
}

.navbar-tags div:nth-child(7) .tag-content {
  background-color: rgb(50, 141, 103);
}
.navbar-tags div:nth-child(8) {
  background-image: url("/images/space.png");
}

.navbar-tags div:nth-child(8) .tag-content {
  background-color: rgb(38, 96, 110);
}

.navbar-tags div:nth-child(9) {
  background-image: url("/images/awesome.jpg");
}

.navbar-tags div:nth-child(9) .tag-content {
  background-color: rgb(132, 114, 189);
}

.navbar-tags div:nth-child(10) {
  background-image: url("/images/rickandmorty.jpg");
}

.navbar-tags div:nth-child(10) .tag-content {
  background-color: rgb(71, 132, 154);
}

.navbar-II{
  width: 85%;
  margin: auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.drop-down-arrow{
  width:0px;
  width:0px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid rgb(155,169,192);
}

.navbar-II div:nth-child(1){
  color: rgb(186,190,196);
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: 700;
  gap: 7px;
  letter-spacing: 1px;
}

.navbar-II div:nth-child(2){
  color: rgb(186,190,196);
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  letter-spacing: 1px;
}

.row{
  display: flex;
  flex-wrap: wrap;

}
.col{
  display: flex;
  flex-wrap: wrap;

  
}

.col>div{
  /* position:relative; */
  /* width:100%;
  height:100%; */
  /* flex: 25%;
  max-width: 25%; */
  flex: 25%;
}
iframe{
  /* position: absolute;
  width:100% ;
  height: 100%;
  left:0;
  top:0; */
  vertical-align: middle;
  width: 100%;
}
.col>div>img{
  /* position: absolute;
  width: 100%;
  height: 100%;
  height: auto; */
  vertical-align: middle;
  width: 100%;
}